<mat-sidenav-container fullscreen [hasBackdrop]="false">
  <!-- <mat-sidenav #sidenav [mode]="getSidenavMode()" [opened]="!isMobile">
    <app-sidenav (sidenavToggle)="sidenavClose()"></app-sidenav>
  </mat-sidenav> -->
  <mat-sidenav
    #notenav
    [fixedInViewport]="true"
    [autoFocus]="false"
    class="sidenav-notes"
    mode="over"
    position="end"
    fixedTopGap="60"
  >
  </mat-sidenav>
  <mat-sidenav-content autosize>
    <app-toolbar
    ></app-toolbar>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
